body {
  background-color: floralwhite;
  margin-left: auto;
  margin-right: auto;
  width: 700px;
}

h1 {
  color: darkolivegreen;
  font-size: 36px;
  font-family: Palatino;
}

.name{
  background-color: floralwhite;
  text-align: center;
  
}

.footer{
  background-color: white;
 
}

.address{
  font-family: Palatino;
  text-align: center;
  
}

h3 {
  color: darkolivegreen;
  font-weight: 900;
  margin-left: 10px
}

h4 {
  color: darkolivegreen;
  margin-left: 10px;
}

li {
  font-family: Palatino
}

img{
  border-radius: 80%;
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
    
}

.secondtitle{
  text-decoration: underline;
  text-decoration-color: darkolivegreen;
}

.address{
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

